@import '../../scss/style.scss';
.column{
  flex:0 0 auto ;
  max-width: 400px;
  min-width: 380px;
  height:800px;
  margin-left: $gap;
  overflow-y: auto;;

  > * {
    background-color:$list-bg-color;
    color:#333;
    padding: 0 8px;
  }
  .col-title {
    font-size:18px;
    display: flex;
    padding: $gap $gap $gap calc( $gap) ;
    line-height: 30px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    .col-more{

      .dropdown-btn{
        font-size: 20px;
        line-height:20px;
        font-weight: bold;
        background-color: $list-bg-color;
        border: none;
        letter-spacing: 1px;
        &:hover{
          background-color: rgba(153, 154, 152, 0.12);
        }
        &:after {
          content:'...';
          border: none;
          color: #797777;
        }
      }

    }
  }
  header {


  }
  footer {
    height:$column-footer-height;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;

  }
  footer:hover{
    cursor: pointer;
    background-color: rgb(213, 212, 212);
    font-size: 18px;

  }
  .card-list{
    list-style: none;
    margin:0;
    max-height:630px;
    overflow-y:auto;
    &::-webkit-scrollbar{
      -webkit-appearance: none;

    }
    &::-webkit-scrollbar:vertical{
      width:$gap;

    }
    &::-webkit-scrollbar-thumb{
      background-color:darken($list-bg-color,15);
      border-radius:3px;

    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }

    .card-ghost-drop{
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }
    .drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }

    .cards-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }

  }
  .add-new-card-area{
    padding: $gap;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    .input-enter-card{
      margin-bottom: $gap;
    }
    .cancel-new-card{
      color: red;
      width: $gap * 4;
      height: $gap * 4;
      padding: 8px;
      border-radius: 3px;
      &:hover{
        background-color: #e54141;
        cursor: pointer;
        color: white;
      }
    }
  }
}