@import '../../scss/style.scss';
.column{
  flex:0 0 auto ;
  max-width: 400px;
  min-width: 380px;
  height:800px;
  margin-left: $gap;
  overflow-y: auto;;

  > * {
    background-color:$list-bg-color;
    color:#333;
    padding: 0 8px;
  }
  .col-title {
    font-size:18px;
    display: flex;
    padding: $gap calc( $gap / 2) $gap calc( 2 * $gap) ;
    line-height: 30px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    .col-more{
      color: #a19f9f;
      width: 38px;
      height: 38px;
      padding: 10px;
      border-radius: 3px;
      &:hover{
        cursor: pointer;
        color: #676666;
        background-color: rgba(136, 136, 135, 0.12);
      }
    }
  }
  header {


  }
  footer {
    height:$column-footer-height;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: $color-text;
    text-align: center;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;

  }
  footer:hover{
    cursor: pointer;
    background-color: rgb(213, 212, 212);
    font-size: 18px;

  }
  .card-list{
    list-style: none;
    margin:0;
    max-height:630px;
    overflow-y:auto;
    &::-webkit-scrollbar{
      -webkit-appearance: none;

    }
    &::-webkit-scrollbar:vertical{
      width:$gap;

    }
    &::-webkit-scrollbar-thumb{
      background-color:darken($list-bg-color,15);
      border-radius:3px;

    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }

    .card-ghost-drop{
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }
    .drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }

    .cards-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }

  }
}