@import 'scss/style.scss';

body{
  margin: 0;
  font-size: 14px;
  line-height:1.3rem;
  font-family: "Source Sans Pro",sans-serif;
}
.trello-minhtrung-master{
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;








}